@media(max-width:768px) {

    html{
        font-size:70,5%;
    }

    .main{
        width:80vw;
    }
    .tasker{
        width:80vw;
        
    }
}
.wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100vw;
    height:100vh;
    background:var(--gray-600);

}


.header{
    background:var(--gray-700);
    height:12.5rem;
    width:100vw;
    display:flex;
   
}

.logo{
    margin:auto;
    height:3rem;
}

.tasker{
   display:flex;
   flex-direction:column;
    
}
.main{
    display:flex;
    flex-direction:column;
}
.progress{
    margin-top:5rem;
    margin-bottom:1.5rem;
    display:flex;
    justify-content:space-between;
    
}
.taskNumber{
    color:var(--blue);
}
   
.taskFinished{
    color:var(--purple);
}

.taskList{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 24px;
    height: 28.18rem;
    left: 22rem;
    top: 18.18rem;
}