@media(max-width:768px) {

    html{
        font-size:70,5%;
    }

    .main{
        width:80vw;
    }
    .tasker{
        width:80vw;
        
    }
}
.wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100vw;
    height:100vh;
    background:var(--gray-600);

}


.header{
    background:var(--gray-700);
    height:12.5rem;
    width:100vw;
    display:flex;
   
}

.logo{
    margin:auto;
    height:3rem;
}

